<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Datos</title>
</head>
<body>
    <div class="titulo">
        <h1>Tasks</h1>
    </div>

    <div class="cont">

                
        {% if data %}
            {% for dato in data %}

                <div class="container">
                
                    <div class="container-id">
                        <h5>Task # {{ dato['id'] }}</h5>
                    </div>
            
                    <div class="container-titulo">
                        <h5>{{ dato['task'] }} </h5>
                    </div>
                </div>

            {% endfor %}
        {% endif %}
        
    </div>


</body>
</html>